</div> <!-- closes container -->

<footer style="text-align:center; padding: 20px; margin-top: 30px; background:#8A1538; color:white;">
    <p>&copy; <%= new Date().getFullYear() %> Workout Tracker App</p>
</footer>
<script src="/script.js"></script>
</body>
</html>
